<a href="https://colab.research.google.com/github/Sudhanshu1304/Pandas-Library/blob/main/PANDAS_Module.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas Library**

In [ ]:
import pandas as pd

### Basic Commends to Know in Pandas
***
<br>

These are some of the basic commands in pandas which are frequently needed,

and are also helpfull in Data preprocessing 
<br>

**data = pd.read_csv('  ')**

<br><br>


0. [DataFrame](https://www.geeksforgeeks.org/python-pandas-dataframe/)
> A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.

1. [data.info()](https://www.geeksforgeeks.org/python-pandas-dataframe-info/)
> Pandas dataframe.info() function is used to get a concise summary of the dataframe. It comes really handy when doing exploratory analysis of the data.

2. [data.describe()](https://www.geeksforgeeks.org/python-pandas-dataframe-describe-method/)
> Pandas describe() is used to view some basic statistical details like percentile, mean, std etc. of a data frame or a series of numeric values.


3. [data.iloc[]](https://www.geeksforgeeks.org/python-pandas-series-iloc/)
> iloc attribute enables purely integer-location based indexing for selection by position over the given Series object.


4. [data.value_count()](https://www.geeksforgeeks.org/python-pandas-index-value_counts/)
>  value_counts() function to find the count of all unique values in the given index.

5. [data.isnull() / data.isna()](https://www.geeksforgeeks.org/python-pandas-isnull-and-notnull/)
> isnull() function detect missing values in the given series object. It return a boolean same-sized object indicating if the values are NA. 


6. [data.dropna()](https://www.geeksforgeeks.org/python-pandas-dataframe-dropna/#:~:text=Pandas%20dropna()%20method%20allows,Null%20values%20in%20different%20ways.&text=Parameters%3A,or%20'columns'%20for%20String.)
> Pandas dropna() method allows the user to analyze and drop Rows/Columns with Null values in different ways.

7. [data.fillna()](https://www.geeksforgeeks.org/python-pandas-dataframe-fillna-to-replace-null-values-in-dataframe/)
> fillna() manages and let the user replace NaN values with some value of their own.

8. [data.drop()](https://www.geeksforgeeks.org/drop-a-list-of-rows-from-a-pandas-dataframe/)

<br>


9. [data.replace()](https://www.geeksforgeeks.org/python-pandas-dataframe-replace/#:~:text=replace()%20function%20is%20used,Python%20regex%20(regular%20expressions).)
> replace() function is used to replace a string, regex, list, dictionary, series, number etc. from a dataframe. 

10. [data.astype()](https://www.geeksforgeeks.org/python-pandas-dataframe-astype/#:~:text=astype()%20method%20is%20used,type%20to%20another%20data%20type.)
> astype() method is used to cast a pandas object to a specified dtype. astype() function also provides the capability to convert any suitable existing column to categorical type.


11. [data.where()](https://www.geeksforgeeks.org/python-pandas-dataframe-where/)
> Pandas where() method is used to check a data frame for one or more condition and return the result accordingly. By default, The rows not satisfying the condition are filled with NaN value.


12. [data.sort_values()](https://www.geeksforgeeks.org/python-pandas-dataframe-sort_values-set-1/#:~:text=Pandas%20sort_values()%20function%20sorts,particular%20column%20cannot%20be%20selected.&text=Every%20parameter%20has%20some%20default%20values%20execept%20the%20'by'%20parameter.)
> Pandas sort_values() function sorts a data frame in Ascending or Descending order of passed Column. It's different than the sorted Python function since it cannot sort a data frame and particular column cannot be selected. 


13. [data.group_by()](https://www.geeksforgeeks.org/python-pandas-dataframe-groupby/)
> This function is used to split the data into groups based on some criteria. pandas objects can be split on any of their axes.

# **Importing the Library**

In [ ]:
import pandas as pd

# **DataFrame**

<br>

Pandas DataFrame is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. Pandas DataFrame consists of three principal components, the data, rows, and columns.

<br>

**d= pd.DataFrame( data , index )**

**data could be a list or a dictionary .
by default index is 0,1,2....**

**but could be explicitelly given .**

<br>

In [ ]:
'''Using List default index'''

In [ ]:
'''Using List with index'''

In [ ]:
'''Using Dictionary and index '''

# **Importing Data**

In [ ]:
path='/path'
data= pd.read_csv()

# **Head / Tail**

In [ ]:
'''Head'''

In [ ]:
'''Tail'''

# **Info()**

In [ ]:
data.info()

# **Describe()**

In [ ]:
data.describe()

# **iloc()**

In [ ]:
data.iloc[2:7]

In [ ]:
data.iloc[:,3]

In [ ]:
data.iloc[2:7,1:3]

# **Value_counts()**

In [ ]:
data['Purchased'].value_counts()

# **isnull() / isna()**

In [ ]:
data.isna()

In [ ]:
data.isnull()

In [ ]:
''' Get the No of Nan in each row '''

data.isnull().sum()

# **dropna()**

by default it will remove the complete row if there is atleast 1 **NaN** in that row.


**how**: ‘any’ drops the row/column if ANY value is Null and ‘all’ drops only if ALL values are null.


<br>

In [ ]:
'''It will remove all the rows becz there is one nan in every row due to Date Column'''

d1=data.dropna(how='any')
d2=data.dropna(how='all')

In [ ]:
print(d1)
print(d2)

# **fillna()**

In [ ]:
'''' Numerical Columns '''
mean_age=data['Age'].mean()
mean_salary=data['Salary'].mean()


data['Salary'].fillna(mean_salary,inplace=True)
data['Age'].fillna(mean_age,inplace=True)

In [ ]:
''' Catagorical Column '''

''' Mode '''

data['Country'].mode()

In [ ]:
data['Country'] = data['Country'].fillna(data['Country'].mode()[0])

# **drop()**

In [ ]:
data.drop(['Date'],axis=1,inplace=True)

In [ ]:
data

# **replace()**

In [ ]:
'''Let's replace all Yes with 1 and No with 0 '''

data['Purchased'].replace(to_replace=['Yes','No'],value=[1,0],inplace=True)

# **astype()**

In [ ]:
'''Convert the dtype of Age and Salary to integer '''

data['Age']=data['Age'].astype(int)

data['Salary']=data['Salary'].astype(int)

# **where()**

In [ ]:
'''We will be looking at the specific data where the the product is purchesed '''


''' Normal Methoud '''

yes=data[data['Purchased']==1]
yes

In [ ]:
'''Using Where() '''
condition1=data['Purchased']==1
condition2=data['Age']>35
data.where(condition1 & condition2,other='-')

# **Sorting**

In [ ]:
'''Sorting the data based on salary '''

data.sort_values('Salary',axis=0,na_position='last',ascending=True)

# **Groupby()**

1. We can get data corresponding to a specific column.

2. We can get data corresponding to a specific data point within any column.


**Returns** a **Object** 

this Object have two main methoud  
1. .first()
2. .get_group('')

<br>

In [ ]:

group=data.groupby('Country')
group

In [ ]:
group.first()

In [ ]:
group.get_group('France')