<a href="https://colab.research.google.com/github/Sudhanshu1304/Pandas-Library/blob/main/Pandas_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Solve all the Questions in the given order**

# **1. Import the Car data (All further oprations would be done on this data)**

In [ ]:
'''Solution here'''

# **2. Display the complete column of Selling , Present , Kms_Driven together using iloc[]**

In [ ]:
'''Solution here'''

# **3. Display the last row of the dataset.**

In [ ]:
'''Solution here'''

# **4. Display  Count of CNG , Petrol and Diesal present in the data .**

In [ ]:
'''Solution here'''

# **5. Fill all the NaN values of Numerical columns with there respective mean().**

In [ ]:
'''Solution here'''

# **6. Fill all the NaN values of Catagorical Column with mode().**

In [ ]:
'''Solution here'''

# **7. Drop the Last Column i.e "Owner".**

In [ ]:
'''Solution here'''

# **8. Drop the last row of the dataset.**

In [ ]:
'''Solution here'''

# **9. Display data with Selling price greater than 7 (>7).**

In [ ]:
'''Solution here'''

# **10. Display all the Names of the cars whose Selling_Price >8 and Present_Price >8.**

In [ ]:
'''Solution here'''

# **11. Replace ( Petrol â›½ with 1 ) ,( Diesel with 2 ),( CNG with 3 ) in the Fuel_Type Column.**

In [ ]:
'''Solution here'''

# **12. Convert the type of Present_Price column from Floor to Int .**

In [ ]:
'''Solution here'''